- topic_user = topic.user
- channel = topic.channel
- comments_count = topic.comments.count
- last_replied_by = topic.last_replied_by
.cell.topic{:class => topic_user.can_manage_site? ? 'admin' : ''}
  .avatar.float-left
    = user_profile_avatar_link(topic_user, :medium)
  .item_title
    - if comments_count > 0
      .float-right
        .badge.badge-info= comments_count
    %h2.topic_title
      = link_to topic.title, t_path(topic.id), :class => 'rabel topic'
    .topic-meta
      = link_to channel.name, channel, :class => 'dark rabel channel'
      %span.muted •
      = user_profile_link(topic_user, :class => :dark)
      %span.muted •
      - if comments_count > 0
        -# = time_ago_in_words(topic.last_replied_at)
        = time_ago_in_words(Time.now)
        %span.muted •
        最后回复来自
        = nickname_profile_link(last_replied_by)
      - else
        = time_ago_in_words(topic.created_at)


